body{
    background-color: #eee;
}
#mainDive{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center; 
     
}

.usersInfo{
    border-radius: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: 5px;
    padding: 5px;
    background-color: white;
    text-align: center;
     animation: fadein ease-in 2s; 
    
    
}
.userInfo{
  border-radius: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: 5px;
    padding: 5px;
    background-color: white;
    text-align: center;
    animation: useronly ease-in 2s;
}
@keyframes useronly{
  0%{
    margin-top: -800px;
  }
  100%{
    margin-bottom: 0px;
  }
}
@keyframes fadein{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
}
table{
  animation: allUserstable ease-in 2s;
}
@keyframes allUserstable{
  0%{
 
    margin-left: -3000px;
  }
  100%{
  
    margin-left: 0px;
  }

}
img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
#buttonsContainer{
    display: flex;
    justify-content: space-between;
}

h2{
    color: #007b5e;
}
h1{
  color: #007b5e;
}
table,td,th{
    border: solid 2px black;
    width: fit-content;
    text-align: center;

}
table{
    width: 1200px;
}
#registrstyle{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    animation: usersform ease-in 2s;
}
@keyframes usersform {
  0%{
    margin-top: 900px;
  }
  100%{
    margin-top: 0px;
  }
}
#formButton2{
    margin-top: 20px;
    width: 180px;
    height: 35px;
}

body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }